.page {
  min-height: 100vh;
  min-width: 1100px;
  /* эта страница не адаптивная, */
  /* поэтому выше установлена минимальная ширина страницы */
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Вендорное свойство для сглаживания кастомных шрифтов. */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  /* Вендорное свойство. Отвечает за то, чтобы при изменении масштаба страницы
  размер шрифта изменялся пропорционально. */
  text-rendering: optimizeLegibility;
  /* Свойство, которое задействует важные инструменты улучшения читаемости текста,
  в том числе кёрнинг и лигатуры. Настройка рендеринга шрифта определяет,
  нужно ли применять к тексту кёрнинг и лигатуры. Двигая и объединяя буквы,
  браузер сильнее нагружает устройство клиента-пользователя.
  Поэтому применяйте лигатуры и кёрнинг там, где это действительно нужно. Например, в заголовках.
  */
}
